In [2]:
if 3>2:
    print('true')

true

In [8]:
hungry = False
if hungry:
    print('i am hungry')
else:
    print('feed me')

feed me

In [10]:
loc = 'home'
if loc == 'car':
    print('shaurya')
elif loc == 'taxi':
    print('gagan')
elif loc == 'home':
    print('anusha')
else:
    print('rohith')

anusha

In [11]:
mylist = [1,2,3,4,5,6,7,8]

In [13]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8

finding even numbers in the list

In [15]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8

finding total of mylist

In [16]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

36

In [17]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
mylist1 = ['anusha','rohith','shaurya','gagan']

In [21]:
for i in mylist1:
    print(i)

anusha
rohith
shaurya
gagan

In [22]:
for i in 'anusha':
    print(i)

a
n
u
s
h
a

In [23]:
tup = (1,2,3)
for i in tup:
    print(i)

1
2
3

tuple unpacking

In [26]:
mylist3 = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist3:
    print(b)

2
4
6
8

In [27]:
for i in mylist3:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [28]:
mylist4 = [(1,2,3),(4,5,6),(7,8,9)]
for i in mylist4:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [29]:
for a,b,c in mylist4:
    print(b)

2
5
8

In [38]:
d = {'a1':1,'a2':2,'a3':3,'a4':4}
for key,value in d.items():
    print(value)

1
2
3
4

In [41]:
x = [1,2,3]
for i in x:
    pass
print('end of mylist')

end of mylist

In [45]:
x = 'anusha'
for i in x:
    if i == 'u':
        continue
    print(i)

a
n
s
h
a

In [46]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
max(mylist)

8

In [48]:
min(mylist)

1

In [57]:
from random import shuffle
shuffle(mylist)

None

In [58]:
mylist

[6, 2, 1, 5, 3, 4, 7, 8]

In [7]:
for i in enumerate('anusha'):
    print(i)

(0, 'a')
(1, 'n')
(2, 'u')
(3, 's')
(4, 'h')
(5, 'a')

In [14]:
index_value = 0
for letter in 'rohith':
    print('at index value {} is {}'.format(letter,index_value))
    index_value = index_value + 1

at index value r is 0
at index value o is 1
at index value h is 2
at index value i is 3
at index value t is 4
at index value h is 5

In [15]:
for letter in enumerate('anusha'):
    print(letter)

(0, 'a')
(1, 'n')
(2, 'u')
(3, 's')
(4, 'h')
(5, 'a')

In [16]:
list1
list2

NameError: name 'list1' is not defined

In [19]:
mylist1

NameError: name 'mylist1' is not defined

In [1]:
mylist = [1,2,3,4,5]
mylist1 = [6,7,8,9,10]

In [2]:
mylist
mylist1

[6, 7, 8, 9, 10]

In [3]:
print(mylist)
print(mylist1)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [6]:
for item in zip(mylist,mylist1):
    print(item)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [10]:
for item in enumerate('abcdef'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [11]:
mylist3 = [2,6,7]
for item in zip(mylist,mylist1,mylist3):
    print(item)

(1, 6, 2)
(2, 7, 6)
(3, 8, 7)

In [14]:
for num in range(0,10):
    if num % 2 == 0:
        print(num)

0
2
4
6
8

In [65]:
numlist = []
for num in range(1,20):
    if num % 2 != 0:
        numlist.append(num)
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
from random import randint
type(randint(1,100))

int

In [62]:
numlist = []
for num in range(1,11):
    if num % 2 == 0:
        numlist.append(num)
print(numlist)

[2, 4, 6, 8, 10]

In [59]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [32]:
st = 'Print only the words that start with s in this sentence'

In [33]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [36]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

In [40]:
for word in st.split():
    if word[-1] == 't':
        print(word)

Print
that
start

In [63]:
numlist = []
for num in range(1,51):
    if num % 3 == 0:
        numlist.append(num)
print(numlist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [46]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [47]:
st

'Print only the words that start with s in this sentence'

In [49]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+'--> has even length')

only--> has even length
that--> has even length
with--> has even length
in--> has even length
this--> has even length
sentence--> has even length

In [57]:
mylist = []
for word in st.split():
    mylist.append(word[0])
print(mylist)

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [67]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Use a List Comprehension to create a list of the first letters of every word in the string below:

In [69]:
st = 'Create a list of the first letters of every word in this string'

In [70]:
strlist = []
for word in st.split():
    strlist.append(word[0])
print(strlist)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']